/* 'Inter', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Vast+Shadow&display=swap');

body {
    width: 100%;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --cor-vinho: #8E2424;
    --cor-primaria-texto: #667085;
    --cor-secundaria-texto: #3A404E;
    --cor-terciaria-texto: #FFF;
    --cor-titulos-principais: #101828;

    --tamanho-um: 14px;
    --tamanho-dois: 16px;
    --tamanho-tres: 18px;
    --tamanho-quatro: 20px;
    --tamanho-cinco: 36px;
    --tamanho-seis: 48px;
    --tamanho-sete: 60px;
    --tamanho-oito: 30px;
    --tamanho-nove: 24px;

    --peso-um: 400;
    --peso-dois: 500;
    --peso-tres: 600;

    --font-style: normal;

    --altura-caixa-texto: 24px;

}

.container__navbar {
    display: flex;
    width: 1500px;
    height: 80px;
    justify-content: space-around;
    align-items: center;
}

.navbar__logo {
    display: flex;
    width: 148px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
}

.navbar__nome__empresa {
    color: var(--cor-secundaria-texto);
    font-size: var(--tamanho-tres);
    font-style: var(--font-style);
    font-weight: var(--peso-um);
    line-height: var(--altura-caixa-texto);
}

.navbar__menu {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2em;
}

.navbar__links {
    color: var(--cor-primaria-texto);
    font-size: var(--tamanho-dois);
    font-style: var(--font-style);
    font-weight: var(--peso-dois);
    line-height: var(--altura-caixa-texto);
    text-decoration: none;
}

.navbar__links:hover {
    color: blue;
    text-decoration: 1px underline;
}

.navbar__links:active {
    color: greenyellow;
}

.navbar__botoes {
    display: flex;
    column-gap: 1.8em;
    align-items: center;
}

.navbar__botao__entrar {
    color: var(--cor-primaria-texto);
    font-size: var(--tamanho-dois);
    font-style: var(--font-style);
    font-weight: var(--peso-dois);
    line-height: var(--altura-caixa-texto);
    text-decoration: none;
    border: none;
    background-color: transparent;
}

.navbar__botao__entrar:hover {
    color: blue;
    text-decoration: 1px underline;
}

.navbar__botao__entrar:active {
    color: greenyellow;
}



.navbar__botao__cadastrar {
    padding: 10px 18px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border-radius: 8px;
    border: 1px solid var(--cor-vinho);
    background: var(--cor-vinho);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

    color: var(--cor-terciaria-texto);
    font-size: var(--tamanho-dois);
    font-style: var(--font-style);
    font-weight: var(--peso-dois);
    line-height: var(--altura-caixa-texto);
    text-decoration: none;
}

.navbar__botao__cadastrar:hover {
    color: yellow;
    text-decoration: 1px underline;
}

.navbar__botao__cadastrar:active {
    background-color: white;
    color: var(--cor-vinho);
    border: 1px solid var(--cor-vinho);
    transition: 0.2s;
}